.navbar{
    background-color: transparent;
}


.Entete {
    
    width: 100%;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-image: url(../Assets/background.svg);
    z-index: 1;
  }
  
.entete {
    font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
    margin-top: 150px;
    width: 500px;
}

.entete p {
    font-weight: bold;
    font-size: 23px;
    color: red;
    margin: 0;
}

.entete h1 {
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align:left;
}

.entete h2 {
    font-weight: 400;
    font-size: medium;
}

.Next{
    display: flex;
    flex-direction: row;
    gap: 70px;
    
}

.Next button{
margin-top: 50px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
width: 160px;
height: 52px;
background: #C84032;
border-radius: 20px;
border: none; 
}
.view {
    margin-top: 50px;
    width: 200px;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.view img {
    width: 40px;
    height: 40px;
    margin: 0; 
}

.view p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0; /* Enlever toute marge par défaut */
    padding-left: 10px; /* Ajouter un espacement de 10px à gauche */
}

.Next a{
    text-decoration: none;
    color: #FFFFFF;
}

.main{
    top: 1500;
    width: 97%;
    height: 100vh;
    background: #F7F7F7;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center; 
}
.zone-de-reccherche {
    position: relative;
    display: flex;
    width: 50%;
    align-items: center; 
    margin-top: 50px;
}

.search-form {
    display: flex; /* Alignement en ligne pour le champ de recherche et le bouton */
    margin-left: 20px; /* Espacement à gauche */
}

.search-input {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px 0 0 5px; 
    width: 70%;
    outline: none; 
}

.search-button {
    width: 20%;
    background-color: #d3c6c5;
    border: none; 
    padding: 5px; 
    border-radius: 0 5px 5px 0; 
    cursor: pointer; 
}

.search-button img {
    width: 50px; 
    height: 50px; 
}
.city-container{
    height: 50px; 
    width:50%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration: none;
}

.city-container .filter,.city-all {
    padding: 8px 15px;
    background-color: #fff;
    border: 1px solid #e30613;
    color: #e30613;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

.city-names{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    padding: 0;
    color: #626262;
    font-weight: 500;
    left: 120px;
    justify-content: space-between;
    height: 50px;
}
.city-names li{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70%;
    left: 90px;
    border: 1px solid #C84032;
    border-radius: 20px;
    font-size: 18px;
    color: #C84032;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}
.city-names li:hover,
.city-names li:active{
    color: #DC0900;
}

.filter {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    background: transparent;
    color: #333;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  /* Style spécifique à la classe city-all (style par défaut pour "All") */

  
  /* Classe active pour les villes sélectionnées */
  .filter.active {
    background: #d30d00; /* Même couleur que "All" */
    color: white;
    box-shadow: 0px 4px 25px #d30d00;
    font-weight: 700;
  }
  
  .filter.active p {
    color: white;
  }